<center><h1>Clientes</h1></center>

<table class="table table-hover table striped">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>

  <tr class="success">
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to icon('plus')+'Nuevo Cliente', new_customer_path, class: 'btn btn-succes' %>

