<center><h1>Tipos de vehiculos</h1></center>

<table class="table table-hover table striped">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicle_types.each do |vehicle_type| %>
  <tr class="success">
    <td><%= vehicle_type.name %></td>
    <td><%= link_to 'Show', vehicle_type %></td>
    <td><%= link_to 'Edit', edit_vehicle_type_path(vehicle_type) %></td>
    <td><%= link_to 'Destroy', vehicle_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to icon('plus')+'Nuevo tipo de vehiculo', new_vehicle_type_path ,class: 'btn btn-success' %>
